html, body{
    margin: 0;
}

#header{
    top: 0;
    margin: 0;
    padding: 0;
    height: 32px;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
}

nav{
    margin: 0;
}
p{
    margin-left: 5px;
}
span{
    background-color: rgba(224, 224, 255, 0.683);
    border-radius: 5px;
}

body{
    
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
   
}

footer{
    bottom: 0;
    text-align: center;
    position: relative;
}
.heading{
    background-color: black;
    color: aliceblue;
}
#subhead{
    background-color: rgb(123, 0, 111);
    color: yellow;
}

.card{
    background-color: rgba(82, 37, 37, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.1s;
    width: 40%;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(233, 247, 164, 0.694);
}

.container {
    padding: 2px 18px;
  
}

@media screen and (min-width: 600px) {
    .im {
        margin-bottom: 6px;
        margin-left: 700px;
    }
  }
