html, body{
    margin: 0;
}

#header{
    top: 0;
    margin: 0;
    padding: 0;
    height: 32px;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
}

nav{
    margin: 0;
}
p{
    margin-left: 5px;
}
span{
    background-color: rgba(224, 224, 255, 0.683);
    border-radius: 5px;
}

footer{
    bottom: 0;
    text-align: center;
    position: relative;
}
.heading{
    background-color: black;
    color: aliceblue;
}
#subhead{
    background-color: rgb(123, 0, 111);
    color: yellow;
}